@font-face {
    src: url("../fonts/Covert-Ops-Expanded/covertops.ttf");
    font-family: covertops;
}
.navbar-brand {
    color: wheat;
}
#name {
    font-size: 70px;
    font-family: covertops;
}